* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: normal; }

ul, li {
  list-style: none; }

hr {
  display: block;
  border: none;
  height: 1px;
  background: #eee; }

input, select {
  vertical-align: middle; }

button, input, select, textarea {
  background: transparent;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-family: inherit; }

table {
  border-collapse: collapse; }
  table td, table th {
    border: 1px solid #ddd; }

.-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px; }

.-wrap {
  display: block;
  padding-left: 20px;
  padding-right: 20px; }

.-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px; }

.-cell {
  display: block;
  padding-left: 10px;
  padding-right: 10px; }

.block-holder {
  display: block;
  min-height: 200px;
  min-width: 100px;
  background: #ddd; }
