* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: normal;
}
ul, li {
  list-style: none;
}
hr {
  display: block;
  border: none;
  height: 1px;
  background: #eee;
}
input, select {
  vertical-align: middle;
}
button, input, select, textarea {
  background: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  td, th {
    border: 1px solid #ddd;
  }
}
// Layout
$gutter: 20px;
.-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px + $gutter*2;
  padding-left: $gutter;
  padding-right: $gutter;
}
.-wrap {
  display: block;
  padding-left: $gutter;
  padding-right: $gutter;
}
.-grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}
.-cell {
  display: block;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
.block-holder {
  display: block;
  min-height: 200px;
  min-width: 100px;
  background: #ddd;
}